## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Get the counts of each category in 'APPLICATION_TYPE'
app_type_counts = application_df.APPLICATION_TYPE.value_counts()

# Bin categories with count <500
application_types_to_replace = list(app_type_counts[app_type_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Get value counts
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Filter
classification_counts = classification_counts[classification_counts > 1]

print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Get the top 5 classifications
top_classifications = list(classification_counts.nlargest(5).index)

# Create a new list "classifications_to_replace" for those not in "top_classifications"
classifications_to_replace = [cls for cls in application_df.CLASSIFICATION.unique() if cls not in top_classifications]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)
application_df_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
# Separate the y variable, the labels
y = application_df_dummies['IS_SUCCESSFUL']

# Separate the X variable, the features
X = application_df_dummies.drop('IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Get the number of features from the training data
num_features = X_train_scaled.shape[1]

# Define the model - deep neural net
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=num_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 6)                 264

 dense_10 (Dense)            (None, 6)                 42

 dense_11 (Dense)            (None, 1)                 7

=================================================================
Total params: 313
Trainable params: 313
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.6499 - accuracy: 0.6603
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5753 - accuracy: 0.7171
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5635 - accuracy: 0.7212
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5596 - accuracy: 0.7241
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5571 - accuracy: 0.7259
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7272
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5540 - accuracy: 0.7284
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5531 - accuracy: 0.7292
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7307
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7294
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7290
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7309
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7302
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7309
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7309
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7307
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7305
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7308
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7312
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7318
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7310
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7307
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7312
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7297
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7312
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7319
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7308
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7308
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7319
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7306
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7318
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7315
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7308
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7307
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7300
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7309
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7303
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7309
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7317
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7321
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7315
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7306
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7312
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7318
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7314
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7316
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7315
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7311
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7308
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7310

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5531 - accuracy: 0.7277 - 466ms/epoch - 2ms/step
Loss: 0.5531151294708252, Accuracy: 0.7276967763900757

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")